@model DelegationBook.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Pracownik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division)
        </dd>
        @if (Model.IsDriver)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDriver)
            </dt>
            <dd class="col-sm-10">
                Tak
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edytuj</a> |
    <a asp-action="Delete" asp-route-id="@Model.EmployeeId">Usuń</a> |
    <a asp-action="Index">Przjdź do listy pracowników</a>
</div>
