@model IEnumerable<DelegationBook.Models.Employee>

@{
    ViewData["Title"] = "Pracownicy";
}

<h1>Pracownicy</h1>

<p>
    <a asp-action="Create">Dodaj pracownika</a>
</p>
<table class="table">
    <thead>
        <tr class="bg-light">
            @*<th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model=>model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsDriver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td class="font-weight-bold">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="font-weight-bold">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>*@
            <td class="font-weight-bold">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>
            <td class="text-center">
                @if (item.IsDriver)
                {
                    <i class="fa fa-check"/>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
