@model DelegationBook.Models.Trip

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Sczegóły</h2>

<div>
    <h4>Wyjazd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.InitialMeter)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.InitialMeter)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FinalMeter)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FinalMeter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TripId">Edytuj</a> |
    <a asp-action="Delete" asp-route-id="@Model.TripId">Usuń</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
