@model IEnumerable<DelegationBook.Models.Trip>

@{
    ViewData["Title"] = "Wyjazdy";
}

<h2>Wyjazdy</h2>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr class="bg-light">
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="font-weight-bold">
                @Html.DisplayFor(itemModel => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.Project.Symbol)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TripId">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
