@model IEnumerable<DelegationBook.Models.Trip>

@{
    ViewData["Title"] = "Wyjazdy";
}

<h1>Wyjazdy</h1>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keeper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KilometersCard.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(itemModel => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.Project.Symbol)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.Keeper.FullName)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.Driver.FullName)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.KilometersCard.Car.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.Distance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TripId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
