@model DelegationBook.Models.KilometersCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KilometersCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardSymbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardSymbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkCardNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
