@model IEnumerable<DelegationBook.Models.KilometersCard>

@{
    ViewData["Title"] = "Karty kilometrów";
}

<h2>Karty kilometrów</h2>

<p>
    <a asp-action="Create">Dodaj nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardSymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardSymbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model) - @Html.DisplayFor(modelItem => item.Car.RegistrationNumber)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CardId">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
