@model IEnumerable<DelegationBook.Models.Car>

@{
    ViewData["Title"] = "Samochody";
}

<h2>Samochody</h2>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CarId">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
