@model DelegationBook.Models.Project

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Szcegóły</h2>

<div>
    <h4>Temat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edytuj</a> |
    <a asp-action="Delete" asp-route-id="@Model.ProjectId">Usuń</a> |
    <a asp-action="Index">Przejdź do listy tematów</a>
</div>

<br />
<h5>Wyjazdy w ramach tematu</h5>
@await Html.PartialAsync("../Shared/_ListTripsPartial.cshtml", Model.Trips)
