@model IEnumerable<DelegationBook.Models.Project>

@{
    ViewData["Title"] = "Tematy";
}

<h1>Tematy</h1>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProjectId">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
